nav.navbar.navbar-expand-lg.navbar-light
  a.navbar-brand(href='/')
    img(src ="./public/imgs/logo.png")
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='/')
          | Home 
          span.sr-only (current)
      li.nav-item
      if user
        a.nav-link(href='/logout') Sign Out
      else 
        a.nav-link(data-toggle="modal",data-target="#exampleModal") Login


        
#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Modal title
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        form(action="/sign_in", method="post")
          h2.text-center Log In
          input.form-control.m-1(type="email", placeholder="Enter your email", name="email")
          input.form-control.m-1(type="password", placeholder="Password", name="password")
          button.btn.btn-primary(type='submit') Log In

    
