include ./partials/head.pug

body
  main
    include ./partials/nav.pug

    h2
      name= user

    .container
      .quiz-wrapper
        form.card.p-5(action="/quiz", method="post")
          fieldset.form-group
            legend.text-center Are you a fast eater?
            .d-flex.justify-content-center.row
                .col-lg-1
                  input.form-check-input(type="radio",id="question_one_true", name="question_one_true", value="true")
                  label.form-check-label(for="question_one_true") TRUE
                .col-lg-1
                  input.form-check-input(type="radio",id="question_one_false", name="question_one_false", value="flase") 
                  label.form-check-label(for="question_one_false") FALSE
          fieldset.form-group
            legend.text-center Are you a fast eater?
            .d-flex.justify-content-center.row
                .col-lg-1
                  input.form-check-input(type="radio",id="question_one_true", name="question_one_true", value="true")
                  label.form-check-label(for="question_one_true") TRUE
                .col-lg-1
                  input.form-check-input(type="radio",id="question_one_false", name="question_one_false", value="flase") 
                  label.form-check-label(for="question_one_false") FALSE
          fieldset.form-group
            legend.text-center Are you a fast eater?
            .d-flex.justify-content-center.row
                .col-lg-1
                  input.form-check-input(type="radio",id="question_one_true", name="question_one_true", value="true")
                  label.form-check-label(for="question_one_true") TRUE
                .col-lg-1
                  input.form-check-input(type="radio",id="question_one_false", name="question_one_false", value="flase") 
                  label.form-check-label(for="question_one_false") FALSE
          fieldset.form-group
            legend.text-center Are you a fast eater?
            .d-flex.justify-content-center.row
              .col-lg-1
                  input.form-check-input(type="radio",id="question_one_true", name="question_one_true", value="true")
                  label.form-check-label(for="question_one_true") TRUE
              .col-lg-1
                  input.form-check-input(type="radio",id="question_one_false", name="question_one_false", value="flase") 
                  label.form-check-label(for="question_one_false") FALSE

          button.btn.btn-primary(type="submit") Submit



  include ./partials/footer.pug
  

  
   