include ./partials/head.pug


body
  main

    include ./partials/nav.pug
    .container
      .row.mt-5
        each val in matches
          .card.col-md-6
            img(src=val.user_image)
            .card-body
              h2=val.user_email
    
      


   


  include ./partials/footer.pug
  
  script(src="https://code.jquery.com/jquery-3.3.1.min.js")
  script(src="./public/js/bootstrap.min.js")
      
    
    

    
